.DS_Store
/*.rockspec
/.autom4te.cfg
/.gitmodules
/ChangeLog
/ChangeLog~
/GNUmakefile
/INSTALL
/Makefile
/Makefile.am
/Makefile.in
/README
/aclocal.m4
/autom4te.cache
/build-aux/
!/build-aux/sanity-cfg.mk
/config.log
/config.status
/configure
/doc/classes
/doc/files
/doc/index.html
/doc/ldoc.css
/doc/modules
/lib/std.lua
/stdlib-*.tar.gz
/luarocks
/m4/ax_compare_version.m4
/m4/ax_lua.m4
/m4/slingshot.m4
/travis.yml.in
