/*.rockspec
/.autom4te.cfg
/.gitmodules
/COPYING
/ChangeLog
/GNUmakefile
/Makefile
/Makefile.am
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.status
/configure
/lib/files
/lib/index.html
/lib/luadoc.css
/lib/modules
/lib/std.lua
/lua-stdlib-*.tar.gz
/luarocks
/m4/ax_compare_version.m4
/m4/ax_lua.m4
/m4/slingshot.m4
/travis.yml.in
